#lanes {
  width: 450px;
  height: calc(90vh);
  grid-gap: 4px;
}

#debug {
  position: absolute;
  top: 50px;
  left: 0;
}

:root {
  --target-height: 60px;
}

.is-note {
  background: #c4c4c4;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: var(--target-height);
}

.is-note-1,
.is-note-6 {
  @apply bg-gradient-to-b from-blue-600 to-blue-400;
}

.is-note-2,
.is-note-5 {
  @apply bg-gradient-to-b from-green-600 to-green-400;
}

.is-note-3,
.is-note-4 {
  @apply bg-gradient-to-b from-red-600 to-red-400;
}

.is-target {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: var(--target-height);
  width: 100%;
}

@keyframes target-hit {
  0% {
    width: 95%;
    height: calc(var(--target-height) - 2px);
  }

  100% {
    width: 100%;
    height: var(--target-height);
  }
}

.target-hit {
  animation: target-hit 0.15s;
}
